@import url('https://fonts.googleapis.com/css?family=Livvic:400');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

code {
  height: 100vh;
}

h1, p, li, a, label, input, button {
  color: #2f2f2f;
  font-family: 'Livvic', sans-serif;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}